*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Source Code Pro", monospace;
}

html {
    background-color: unset !important;
}

button {
    all: unset;
}

:root {
    --light: #26bca3;
    --mid-light: #377063;
    --mid: #0e3831;
    --dark: #011616;
    --panel: #011616cc;
    --bg: #0c241c;
}

a {
    color: unset;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.clickable {
    transition: opacity 100ms;
}

.clickable:hover {
    opacity: 0.7;
    cursor: pointer;
}

.clickable:active {
    opacity: 0.5;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 7px;
}

#app {
    width: 100%;
    height: 100%;
    z-index: -1;
}

#app-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: var(--bg);
}

#ui {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

#header {
    min-height: 40px;
    background-color: var(--panel);
    border-bottom: 1px solid var(--mid-light);
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.title {
    flex-grow: 1;
    color: var(--light);
}

.header-buttons {
    display: flex;
}

#footer {
    min-height: 30px;
    background-color: var(--panel);
    border-top: 1px solid var(--mid-light);
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

#content {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    position: relative;
    display: flex;
    column-gap: 20px;
}

.version {
    color: var(--light);
    font-size: 0.85rem;
    flex-grow: 1;
}

.copyright {
    color: var(--light);
    font-size: 0.85rem;
}

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.side-column {
    width: 25%;
}

.center-column {
    flex-grow: 1;
}

.panel {
    position: relative;
    border: 1px solid var(--mid-light);
    border-radius: 3px;
    background-color: var(--panel);
}

.fleet-panel {
    height: 20%;
}

.build-panel {
    flex-grow: 1;
}

.sim-panel {
    height: 5%;
}

.build-grid-panel {
    background-color: unset;
    border: unset;
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.build-grid-holder {
    width: 100%;
    flex-grow: 1;
    align-content: center;
}

/* build-grid {
    display: block;
    margin: auto;
    position: relative;
    border: 2px solid var(--dark);
    border-radius: 3px;
    max-width: 700px;
    aspect-ratio: 1;
} */

/* .grid-line {
    border: 0px solid var(--dark);
    position: absolute;
} */

.drone-panel {
    flex-grow: 1;
}

.selection-panel {
    height: 15%;
}
